body {
  background:
    /* Large diagonal shapes */
    repeating-linear-gradient(
      45deg,
      #89dff0 0%, #89dff0 10%, /* Coral */
      transparent 10%, transparent 20%
    ),
    repeating-linear-gradient(
      -45deg,
      #bb9ed9 0%, #bb9ed9 10%, /* Slate Blue */
      transparent 10%, transparent 20%
    ),
    /* Smaller horizontal/vertical stripes for texture */
    repeating-linear-gradient(
      90deg,
      #63cf7e 0%, #63cf7e 5%, /* Medium Sea Green */
      transparent 5%, transparent 10%
    ),
    repeating-linear-gradient(
      0deg,
      #ff91fa 0%, #ff91fa 5%, /* Medium Orchid */
      transparent 5%, transparent 10%
    );
  background-size: 200rem 200rem; /* Adjust size of the repeating pattern */
  background-color: #f0f8ff; /* A base background color */
}

.card-container {
  width: 50rem;
  height: 30rem ;
  background-color: rgba(255, 255, 255, .85);
  opacity: .85;
  border-radius: 20px;
 /* The magic centering code */
  margin:auto;
  position:absolute;
  top:0;bottom:0; /* Aligns Vertically - Remove for Horizontal Only */
  left:0;right:0; /* Aligns Horizontally - Remove for Vertical Only  */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.card-container:hover {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}